[Unit]
Description=AutoSSH tunnel service for the pc-fixe of Valentin COLIN in direction of the vps of Marc PARTENSKY
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
Environment="AUTOSSH_GATETIME=0"
ExecStart=/usr/bin/autossh -f -N -o "PubkeyAuthentication=yes" -o "PasswordAuthentication=no" -o "ServerAliveInterval 10" -o "ServerAliveCountMax 3" -R 7131:localhost:22 -i "/home/valentin/.ssh/id_ed25519" -p 7022 tunnel@marcpartensky.com
ExecStop=killall -s KILL autossh
Restart=on-failure
